@font-face {
    font-family: 'WhyteInktrapVariable';
    src: url(../fonts/ABCWhyteInktrapVariable-Trial.ttf) format("truetype-variations");
    font-weight: 125 950;
    font-style: oblique 0deg 20deg;
  }

body{
height: 100vh;

}


.wrapper{
    position: absolute;
    display: center;
    width: 430px;
    height: 665px;
    margin: 10px auto;
    border-style: solid;
    border-width: 2px;
    background-color: whitesmoke;
}



.typo{
    font-family: 'WhyteInktrapVariable';
    font-weight: 950;
    font-size: 100px;
    position: relative;

}   

.typo2{
    font-family: 'WhyteInktrapVariable';
    font-weight: 950;
    font-size: 100px;
    position: relative;
    text-align: right;
}